<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questions</title>

    <div th:replace="fragments/fragment :: head"></div>
    <!--  DataTables  -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <!--  Tables styles  -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"/>

    <script defer src="/js/questions.js"></script>
</head>
<body>
<header th:insert="fragments/header"></header>
<br>
<div class="container">

    <table id="questionTable" class="table-striped " style="width:100%">
        <thead>
        <tr>
            <th>id</th>
            <th>text</th>
            <th>#</th>
        </tr>
        </thead>
    </table>

    <a class="col-sm-2 btn btn-primary border mt-2" href='/newQuestion'>New Question</a>

</div>
</body>
</html>