<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Quiz App</title>
    <div th:replace="fragments/fragment :: head"></div>
<!--    {{>common/headTag}}-->

</head>
<body>

<header th:insert="fragments/header"></header>
<!--    {{>common/header}}-->

<div class="container">

    <div  class="container">
        <div class="mb-3" sec:authorize="isAuthenticated()">
            Username: <span sec:authentication="name" class="mr-2 text-primary"></span>
            Authorities: <span sec:authentication="principal.authorities" class="mr-2 text-primary"></span>
        </div>
    </div>
    <div class="mb-3 text-primary" sec:authorize="isAnonymous()">Anonymous</div>
    <div class="mb-3 text-primary" sec:authorize="isAnonymous()">login: admin, password: admin для получения роли админа
    или зарегестрируйте нового пользователя</div>

    <article class="mb-2">Spring/JPA  приложение c авторизацией и правами доступа на основе ролей
        с использованием популярных инструментов и технологий Java:
        Maven, Spring Boot, Security, JPA(Hibernate), Bootstrap (css,js), datatables, jQuery, Fetch Api,
        Java 8 Stream и хранением в базах данных Postgresql.<br><br>
        Thymeleaf в качестве шаблонизатора (+thymeleaf-extras). <br>
        Конфигурация контекста при помощи анотаций.<br>
        Lombok для уменьшения шаблонного кода.<br>
        Cache(EhCache) на уровне Service для часто запрашиваеммых, но редко изменяемых ресурсов.<br>
        JUnit 5, Mockito для unit-тестов + MockMvc для постройки/выполнения запросов в тестах контроллеров(WebMvcTest)
        + Testcontainers (нужен Docker) для прогонки тестов репозиториев(DataJpaTest)
        и тестов системы в целом(SpringBootTest) на рельных БД.
    </article>
    <br>
    <span><a  href="https://github.com/legatusRepasitories/quiz">Github</a></span>

</div>
</body>
</html>