
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <textarea class="form-control" placeholder="Enter variant" rows="2" required></textarea>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        Please enter a variant.
    </div>
</div>

